
<ul class="nav justify-content bg-primary">
    <li class="nav-item">
        <a class="nav-link active text-light" routerLink="">Capgemini</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/users">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/git-users">Git-Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/movies">Movies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/add-employee">Add employee</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/employees">Employees</a>
    </li>
</ul>