<div class="col-md-4 offset-md-4 mt-5">
    <form #loginForm="ngForm" (ngSubmit)='loginUser(loginForm)'>
        <h4>Login</h4>
        <div class="alert alert-danger" *ngIf = 'error'>
                {{error}}
            </div>
    
        <input type="email" name="email" placeholder="Enter email..." #email='ngModel' ngModel
            class="form-control mb-3">
        <input type="password" name="password" placeholder="Enter password..." #email='ngModel' ngModel
            class="form-control">
        <br>
        <button type="submit" class="btn btn-outline-primary float-right">Login</button>


    </form>
</div>