<div class="col-md-3 float-left">
    <a routerLink="bikes">
        <img src="https://cdn.pixabay.com/photo/2015/09/08/21/02/superbike-930715__340.jpg" 
        width='100%' alt="Bilke image">
    </a>

    <a routerLink="cars">
        <img src="https://cdn.pixabay.com/photo/2014/06/04/16/36/car-repair-362150__340.jpg"
        width='100%' alt="car image">
    </a>

    <a routerLink="planes">
        <img src="https://image.shutterstock.com/image-photo/passenger-airplane-landscape-big-white-260nw-699697081.jpg"
        width='100%' alt="plane image">
    </a>
</div>
<router-outlet></router-outlet>