<div class="col-md-5 offset-md-5 card card-body">
    <h4>Please Register!!</h4>
    <form action="">

        <div class="input-group mb-3">
            <div class="input-group-prepend"></div>
            <span class="input-group-text">Name</span>
        </div>
        <input type="text" name="name" id="name" class='form-control'>


<div class='input-group mb-3'>
    <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
    </div>
    <input type="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Password</span>
    </div>

    <div class="btn-group float-right">
        <button type="submit" class="btn btn-outline-primary">Register</button>
    </div>
         


    