<div class="col-md-4 offset-md-4 mt-5 card card-body">
    <h4> please login!!</h4><br>
    <form action="">
        <div class="form-group">
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email"
            class="form-control">
        </div>

        <div class="form-group">
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password"
                class="form-control">
             </div>

             <div class="btn-group"><br>
                <input type="checkbox" name="checkbox" id="checkbox">
                 <label for="checkbox">check me out</label><br>
             </div>
            <br>
                
                    <div class="btn-group"><br> 
                 <button type="submit"  class="btn btn-primary">
                     submit
                 </button>
             </div>
    </form>
</div>